@import './variables'

debug()
  background-color rgba(red, .33) !important

ghost()
  content ''
  position absolute
  top 0
  right 0
  bottom 0
  left 0

transition($property = transform\, opacity)
  transition-property $property
  transition-duration $tDurationDeafault
  transition-timing-function $tTimingFunctionDefault

hoverDesktop()
  &:hover
    html.desktop &
      {block}

grid-column($colsCount, $gutter, $size)
  $gutter = $gutter * 1px
  $gutters = ($colsCount - 1) * $gutter
  $innerGutters = ($size - 1) * $gutter

  return 'calc((((100% - %s) / %s) * %s) + %s)' % ($gutters $colsCount $size $innerGutters)

grid-offset($colsCount, $gutter, $size)
  $gutter = $gutter * 1px
  $gutters = ($colsCount - 1) * $gutter
  $guttersOffset = ($size) * $gutter

  return 'calc((((100% - %s) / %s) * %s) + %s)' % ($gutters $colsCount $size $guttersOffset)