@import './tools'

[v-cloak]
  display none !important

html
body
  font-family Helvetica, Roboto, sans-serif
  color black
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-tap-highlight-color rgba($cGold, .25)

::selection
  background-color $cGold
  color white

a
  color black
  text-decoration none

// ScrollObserver animation class
.js-voa
  transition-property transform, opacity
  transition-timing-function $googleTiming
  transition-duration 444ms
  transition-delay 66.6ms

.js-voa-start
  opacity 0
  transform translateY(25px)
