$font-path = '../static/fonts/'

// @font-face
//   font-family 'futura-book'
//   src: url($font-path + 'FuturaPTBook.woff2') format('woff2'),
//       url($font-path + 'FuturaPTBook.woff') format('woff')
//   font-weight normal
//   font-style normal
