$font-path = '../public/static/fonts/'

// User webfonts
// @font-face
//   font-family 'FontName'
//   src: url($font-path + 'futura/FontName.woff2') format('woff2'),
//       url($font-path + 'futura/FontName.woff') format('woff')
//   font-weight 300
//   font-style normal