@import './variables'

debug()
  background-color rgba(red, .33) !important

outline()
  outline 3px solid rgba(red, .33) !important

ghost()
  content ''
  position absolute
  top 0
  right 0
  bottom 0
  left 0

transition($property = transform\, opacity)
  transition $property $tDurationDeafault $tTimingFunctionDefault

hoverDesktop()
  &:hover
    html.desktop &
      {block}
