// animation
$googleTiming = cubic-bezier(.55,0,.1,1)
$revealTiming = cubic-bezier(0.260, 0.860, 0.440, 0.985)
$uberTiming = cubic-bezier(0.8, 0, 0.2, 1)
$fastInSlowOut = cubic-bezier(0.075, 0.82, 0.165, 1)
$tFast = 350ms
$tDurationDeafault = $tFast
$tTimingFunctionDefault = $uberTiming
